Last login: Thu Mar  5 05:01:26 on console
~ ❯ cd Documents/dev                                                   19:48:29
  1 # Xcode
  2 #
  3 # gitignore contributors: remember to update Global/Xcode.gitignore, Objecti    ve-C.gitignore & Swift.gitignore
  4
  5 ## User settings
  6 xcuserdata/
  7
  8 ## compatibility with Xcode 8 and earlier (ignoring not required starting Xc    ode 9)
  9 *.xcscmblueprint
 10 *.xccheckout
 11
 12 ## compatibility with Xcode 3 and earlier (ignoring not required starting Xc    ode 4)
 13 build/
 14 DerivedData/
 15 *.moved-aside
 16 *.pbxuser
 17 !default.pbxuser
 18 *.mode1v3
 19 !default.mode1v3
 20 *.mode2v3
 1:1 [Top]                                 ~/Documents/dev/OGADA_iOS/.gitignore\
".gitignore" 90L, 2171C
  1 # Xcode
  2 #
  3 # gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gi    tignore
  4
  5 ## User settings
  6 xcuserdata/
  7
  8 ## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
  9 *.xcscmblueprint
 10 *.xccheckout
 11
 12 ## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
 13 build/
 14 DerivedData/
 15 *.moved-aside
 16 *.pbxuser
 17 !default.pbxuser
 18 *.mode1v3
 19 !default.mode1v3
 20 *.mode2v3
 21 !default.mode2v3
 22 *.perspectivev3
 1:1 [Top]                                                          ~/Documents/dev/OGADA_iOS/.gitignore\
  1 # Xcode
  2 #
  3 # gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
  4
  5 ## User settings
  6 xcuserdata/
  7
  8 ## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
  9 *.xcscmblueprint
 10 *.xccheckout
 11
 12 ## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
 13 build/
 14 DerivedData/
 15 *.moved-aside
 16 *.pbxuser
 17 !default.pbxuser
 18 *.mode1v3
 19 !default.mode1v3
 20 *.mode2v3
 21 !default.mode2v3
 22 *.perspectivev3
 23 !default.perspectivev3
 1:1 [Top]                                                                     ~/Documents/dev/OGADA_iOS/.gitignore\
  2 #
  3 # gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
  4
  5 ## User settings
  6 xcuserdata/
  7
  8 ## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
  9 *.xcscmblueprint
 10 *.xccheckout
 11
 12 ## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
 13 build/
 14 DerivedData/
 15 *.moved-aside
 16 *.pbxuser
 17 !default.pbxuser
 18 *.mode1v3
 19 !default.mode1v3
 20 *.mode2v3
 21 !default.mode2v3
 22 *.perspectivev3
 23 !default.perspectivev3
 1:1 [Top]                                                                            ~/Documents/dev/OGADA_iOS/.gitignore\
  1 # Xcode
  2 #
  3 # gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
  4
  5 ## User settings
  6 xcuserdata/
  7
  8 ## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
  9 *.xcscmblueprint
 10 *.xccheckout
 11
 12 ## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
 13 build/
 14 DerivedData/
 15 *.moved-aside
 16 *.pbxuser
 17 !default.pbxuser
 18 *.mode1v3
 19 !default.mode1v3
 20 *.mode2v3
 21 !default.mode2v3
 22 *.perspectivev3
 23 !default.perspectivev3
 1:1 [Top]                                                                          ~/Documents/dev/OGADA_iOS/.gitignore\
  1 # Xcode
  2 #
  3 # gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
  4
  5 ## User settings
  6 xcuserdata/
  7
  8 ## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
  9 *.xcscmblueprint
 10 *.xccheckout
 11
 12 ## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
 13 build/
 14 DerivedData/
 15 *.moved-aside
 16 *.pbxuser
 17 !default.pbxuser
 18 *.mode1v3
 19 !default.mode1v3
 20 *.mode2v3
 21 !default.mode2v3
 22 *.perspectivev3
 23 !default.perspectivev3
 1:1 [Top]                                                                           ~/Documents/dev/OGADA_iOS/.gitignore\
  1 ibuild/
  2 DerivedData/
  3 *.moved-aside
  4 *.pbxuser
  5 !default.pbxuser
  6 *.mode1v3
  7 !default.mode1v3
  8 *.mode2v3
  9 !default.mode2v3
 10 *.perspectivev3
 11 !default.perspectivev3
 12
 13 ## Obj-C/Swift specific
 14 *.hmap
 15
 16 ## App packaging
 17 *.ipa
 18 *.dSYM.zip
 19 *.dSYM
 20
 21 ## Playgrounds
 22 timeline.xctimeline
 23 playground.xcworkspace
 1:2 [Top]                                                                        [+] ~/Documents/dev/OGADA_iOS/.gitignore\
-- INSERT (paste) --
